<%= form_with(model: @post, local: true, url: confirm_posts_path) do |form| %>
  <h3>新規投稿をします</h3>
  <% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |msg| %>
    <ul>
      <li style="color: firebrick"><%= msg %></li>
    </ul>
  <% end %>
  <% end %>
  <%= form.text_area :content %>
  <%= form.submit%>
<% end %>
<%= link_to '投稿一覧に戻る', posts_path %>
